{% extends 'rpg/base.html' %}
{% load static %}


{% block body %}

<div id="wrapper">

	<!-- 4カラム -->
  <section class="gridWrapper">
		<article class="grid">
			<h3>メンバー名前</h3>
			<div class="img"><img src="{% static "images/card1-1.png" width="220" height="300" alt="" %}"></div>	
			<p>メンバー紹介</p>
			<p class="readmore"><a href="#">&raquo; 詳細を確認する</a></p>
		</article>
		<article class="grid">
			<h3>メンバー名前</h3>
			<p class="img"><img src="{% static "images/card1-1.png" width="220" height="300" alt="" %}"></p>
			<p>メンバー紹介</p>
			<p class="readmore"><a href="#">&raquo; 詳細を確認する</a></p>
		</article>
		<article class="grid">
      <h3>メンバー名前</h3>
			<p class="img"><img src="{% static "images/card1-1.png" width="220" height="300" alt="" %}"></p>
			<p>メンバー紹介</p>
			<p class="readmore"><a href="#">&raquo; 詳細を確認する</a></p>
		</article>
    <article class="grid">
			<h3>メンバー名前</h3>
			<p class="img"><img src="{% static "images/card1-1.png" width="220" height="300" alt="" %}"></p>
			<p>メンバー紹介</p>
			<p class="readmore"><a href="#">&raquo; 詳細を確認する</a></p>
		</article>
	</section>
	<!-- / 4カラム -->






   <h4>バリエーション</h4>
   <ul class="thumbnails">

    {% block sorts %}
    {% endblock sorts %}

   </ul>
        
   


{% endblock body %}